@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CLO24 is the shit</h1>
    <p>Kolla in <a href="https://mymh.dev">mymh.dev</a> för att se hur man inte skall göra.</p>
</div>
